<mat-card class="passport-view">
  <mat-card-header class="passport-view-header">Загрузка страниц паспорта</mat-card-header>
  <mat-card-content class="passport-view-main">
    <app-passport-page-view type="2-3"></app-passport-page-view>
    <app-passport-page-view type="4-5"></app-passport-page-view>
    <app-passport-page-view type="6-7"></app-passport-page-view>
    <app-passport-page-view type="8-9"></app-passport-page-view>
    <app-passport-page-view type="10-11"></app-passport-page-view>
    <app-passport-page-view type="12-13"></app-passport-page-view>
    <app-passport-page-view type="14-15"></app-passport-page-view>
    <app-passport-page-view type="16-17"></app-passport-page-view>
    <app-passport-page-view type="18-19"></app-passport-page-view>
    <app-upload-element></app-upload-element>
  </mat-card-content>
  <mat-card-content class="passport-view-footer">
    <app-unknown-pages-view></app-unknown-pages-view>
  </mat-card-content>
  <div class="passport-view-dropzone" *ngIf="d"></div>
</mat-card>

